@import "tailwindcss";

@theme {
  --color-catalyst-dark: #03160a;
  --color-catalyst-light: #f6fef9;
  --color-catalyst-green: #1ed760;
  --color-catalyst-green-80: rgba(30, 215, 96, 0.8);
  --color-catalyst-green-light: #cef8dd;
  --font-sans: var(--font-proxz), ui-sans-serif, system-ui, sans-serif;
  
  --bg-gradient-radial: radial-gradient(circle at 50% 50%, #cef8dd 25%, #1ed760 60%);
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-catalyst-dark);
    color: var(--color-catalyst-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@utility bg-radial-green {
  background-image: var(--bg-gradient-radial);
}
